Body {

	min-height: 600px;
	background-color: black;
	min-width: 600px;

}

p, legend, li{
	color: white;
}


#Container {
	margin-left: auto;
	margin-right: auto;
	width: 450px;
}
.DbBouton{
	display: inline-block ;
	width: 320px; /* largeur à spécifier */
	height: 40px; 
	margin-left: 55px;
}
.BTLOG {
background:url(BTLog1.png);
border:none;
width: 151px; /* largeur à spécifier */
height: 40px; /* longueur à spécifier */
cursor: pointer;
margin-left: 0px;
}

.BTLOG:hover {
background:url(BTLog2.png);
border:none;
width: 151px; /* largeur à spécifier */
height: 40px; /* longueur à spécifier */
cursor: pointer;
margin-left: 0px;
}

.BTINSCR {
background:url(btnInscr1.png);
background-repeat: no-repeat;
border:none;
width: 151px; /* largeur à spécifier */
height: 40px; /* longueur à spécifier */
cursor: pointer;
padding-top: 0px;
}

.BTINSCR:hover {
background:url(btnInscr2.png);
border:none;
width: 151px; /* largeur à spécifier */
height: 40px; /* longueur à spécifier */
cursor: pointer;
margin-left: 0px;
}