Body {

	min-height: 600px;

	min-width: 600px;

}

#Container {
	margin-left: auto;
	margin-right: auto;
	width: 450px;
}
.BTLOG {
background:url(BTLog1.png);
border:none;
width: 151px; /* largeur à spécifier */
height: 40px; /* longueur à spécifier */
cursor: pointer;
margin-left: 130px;
}

.BTLOG:hover {
background:url(BTLog2.png);
border:none;
width: 151px; /* largeur à spécifier */
height: 40px; /* longueur à spécifier */
cursor: pointer;
margin-left: 130px;
}

.BTINSCR {
background:url(btnInscr1.png);
border:none;
width: 151px; /* largeur à spécifier */
height: 40px; /* longueur à spécifier */
cursor: pointer;
margin-left: 130px;
}

.BTINSCR:hover {
background:url(btnInscr2.png);
border:none;
width: 151px; /* largeur à spécifier */
height: 40px; /* longueur à spécifier */
cursor: pointer;
margin-left: 130px;
}